@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic');
@import url('jquery-ui.css');
@import url('jquery.fcbkcomplete.css');
@import url('ikSelect.css');
@import url('font.css');
@import url('tooltip.css');
@import url('font-awesome.min.css');
@import url('../plugins/slider/css/slider.css');

/* BEGIN Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;

    vertical-align: baseline;
}

ul
{
    list-style: none;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}
/* END Reset Styles */

/* BEGIN Common Styles */
.page,
.page__body
{
    height: 100%;
    width: 100%;
}

.page__body
{
    font: normal 13px/1.23em 'PT Sans', Arial;

    min-width: 960px;

    color: #333;
    background: #F0F0F2;
}

.list
{
    padding-left: 40px;
    list-style-type: disc;
}

.clear:before,
.clear:after
{
    display: table;
    content: '';
}

.clear:after
{
    clear: both;
}

h1, h2, h3, h4
{
    font-family: 'museo_sans_cyrl900';
    font-weight: normal;

    margin: 0;

    line-height: 1em;
}

.container
{
    width: 100%;
    min-width: 960px;

    margin: auto;
    padding: 0 6%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.column
{
    float: left;
}

.btn
{
    font-weight: bold;
    font-size: inherit;

    display: inline-block;

    height: 38px;
    padding: 0 26px;

    line-height: 38px;
    letter-spacing: 0.02em;
    color: #fff;

    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #74a543;
    background: #8bc34a;
}

.arrow-btn
{
    font-size: 14px;
    font-weight: bold;

    display: inline-block;
    width: 69px;
    height: 16px;
    padding: 5px 0;

    text-align: center;
    text-decoration: none;

    color: #fff;

    background: url(../images/arrow-btn.png) no-repeat;
}

.input
{
    font-size: 12px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 12px 8px;

    background: #F4F4F4;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
    outline: none;
}

.radio
{
    position: relative;
    top: 1px;

    display: inline-block;

    width: 14px;
    height: 14px;

    background: #ECECEC;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
}

.radio__input
{
    display: none;
}

.radio__icon
{
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;

    display: none;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #348CD8;
    border: 1px solid #348CD8;
    -webkit-box-shadow: 0 1px 0px #81CAF5 inset,
                0 1px 2px #3493E1 inset;
    -moz-box-shadow: 0 1px 0px #81CAF5 inset,
                0 1px 2px #3493E1 inset;
    box-shadow: 0 1px 0px #81CAF5 inset,
                0 1px 2px #3493E1 inset;
}

.radio__input:checked + .radio__icon
{
    display: block;
}

.text
{
    padding: 0 0 10px;
    line-height: 1.7em;
}

.ik_select
{
    margin-right: 20px;
}
/* END Common Styles */


/* BEGIN Header Styles */
.grey-frame
{
    height: 106px;
    padding: 3px 0 0;

    border-bottom: 1px solid #fff;

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2YzhjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEyJSIgc3RvcC1jb2xvcj0iI2Q1ZDdkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2RkZGZlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRmZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #c6c8cf 0%, #d5d7dd 12%, #dddfe4 47%, #dddfe4 100%);
    background: -webkit-linear-gradient(top,  #c6c8cf 0%,#d5d7dd 12%,#dddfe4 47%,#dddfe4 100%);
    background: -o-linear-gradient(top,  #c6c8cf 0%,#d5d7dd 12%,#dddfe4 47%,#dddfe4 100%);
    background: -ms-linear-gradient(top,  #c6c8cf 0%,#d5d7dd 12%,#dddfe4 47%,#dddfe4 100%);
    background: linear-gradient(to bottom,  #c6c8cf 0%,#d5d7dd 12%,#dddfe4 47%,#dddfe4 100%);
}

.logo
{
    font: normal 30px 'museo_sans_cyrl900', Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    margin: 5px 0 0;
    color: #8bc34a !important;
}

.logo .fa
{
    margin: 0 10px 0 0;
}

.header
{
    padding: 30px 0;
    background: #fff;
    margin: 0 0 5px;
    width: 100%;
}

.header .container
{
    overflow: hidden;
}

.header__col:nth-child(1)
{
    float: left;
    width: 35%;
}

.header__col:nth-child(2)
{
    float: left;
    width: 30%;
    text-align: center;
}

.header__col:nth-child(3)
{
    float: right;
    width: 35%;
}

.header .link
{
    color: #262626;

    text-decoration: none;
}

.main-menu
{
    font: normal 14px/14px 'museo_sans_cyrl900';
    padding: 18px 0 0;
}

.main-menu .link
{
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 30px 0 0;
}

.main-menu .link:hover
{
    color: #8bc34a;
}

.authorization-menu
{
    font-size: 12px;

    width: 180px;
    float: right;
    text-align: center;

    padding: 10px 5px;

    border: solid 2px #a5a5a5;

    -webkit-transition: border 0.5s ease;
    -moz-transition: border 0.5s ease;
    -o-transition: border 0.5s ease;
    transition: border 0.5s ease;
}

.authorization-menu:hover
{
    border-color: #8bc34a;
}

.authorization-menu .link
{
    padding: 0 15px;
}

.authorization-menu .link:hover
{
    color: #8bc34a;
}
/* END Header Styles */


/* BEGIN Content Styles */
.content
{
    padding: 20px 0 0;
    background: #f0f0f2;
}

/* END Content Styles */


/* BEGIN Footer */
.footer
{
    position: relative;

    padding: 40px 0;
    color: #959fad;
}

.footer .column
{
    width: 33%;
}

.footer a
{
    text-decoration: none;
}

.footer-menu
{
    font: normal 11px 'museo_sans_cyrl900';

    overflow: hidden;

    text-transform: uppercase;
}

.footer-menu__item
{
    padding: 3px 0;
}

.footer-menu__list
{
    padding-top: 38px;
}

.footer-menu__list .link
{
    color: #000;
}

.footer-menu__list .link:hover
{
    color: #8bc34a;;
}

.footer .social-block
{
    margin-top: 30px;
    padding: 16px;
    width: 200px;
    float: right;
    color: #fff;

    border: solid 2px #8bc34a;;
    background: #8bc34a;;
}

.footer .social-block:hover
{
    color: #a5a5a5;

    background: transparent;
}

.footer .social-block .link
{
    font: bold 22px 'PT Sans';

    padding: 5px 15px;

    color: #fff;

    text-transform: none;
}

.footer .social-block .link:hover
{
    text-decoration: none;
}

.footer .social-block .link:first-child
{
    padding-left: 0;
}

.footer .social-block:hover .link
{
    color: #a5a5a5;
}

.footer .social-block:hover .link:hover
{
    color: #8bc34a;;
}

.footer .social-block:hover .tw-btn:before
{
    background-position: -60px 0;
}

.footer .social-block:hover .tw-btn:hover:before
{
    background-position: -78px 0;
}

.footer .social-block .tw-btn:before
{
    width: 18px;
    height: 15px;

    vertical-align: 0;

    background-position: -42px 0;
}

.footer .copyright
{
    font-size: 13px;
    padding-top: 55px;
    text-align: center;
}
/* END Footer */


/* BEGIN Social Menu Styles */
.social-menu
{
    text-align: center;
}

.social-menu__item
{
    display: inline-block;
    margin: 8px;
}

.social-btn
{
    display: inline-block;

    width: 34px;
    height: 33px;

    background: url(../images/i.png) no-repeat;
}

.social-btn_fb
{
    background-position: -245px -320px;
}

.social-btn_fb:hover
{
    background-position: -286px -321px;
}

.social-btn_gp
{
    background-position: -165px -320px;
}

.social-btn_gp:hover
{
    background-position: -205px -321px;
}

.social-btn_tw
{
    background-position: -83px -320px;
}

.social-btn_tw:hover
{
    background-position: -124px -321px;
}

.social-btn_vk
{
    background-position: 1px -320px;
}

.social-btn_vk:hover
{
    background-position: -40px -321px;
}
/* END Social Menu Styles */


/* BEGIN User page styles */
.content_type_user
{
    min-height: 800px;
}

.content_type_user .container
{
    position: relative;
}

.panel
{
    top: -23px;
    width: 250px;
    position: absolute;
}

.user
{
    margin: 0 0 40px;

    border: 4px solid #8bc34a;
}

.user__header
{
    padding: 30px 0 20px;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #dee0e4;
}

.user__exp
{
    float: left;
    text-align: center;
    width: 25%;
}

.user__photo
{
    width: 50%;
    float: left;
    text-align: center;
}

.user__photo .photo
{
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
}

.user__level
{
    width: 25%;
    float: right;
    text-align: center;
}

.user__name
{
    clear: both;
    text-align: center;

    font-size: 20px;
    padding: 20px 0 4px;
    color: #515864;
}

.user .value,
.user .param
{
    display: block;
}

.user .value
{
    font-size: 16px;
    font-weight: 700;
    color: #8bc34a;
}

.user .param
{
    font-size: 12px;
    font-weight: 400;
    color: #8f96a2;
    text-transform: lowercase
}

.user__footer
{
    padding: 10px 20px 20px;
    border-top: 1px solid #fff;
    background: #f5f5f5;
}

.user__role
{
    position: relative;
    text-align: center;
    padding: 4px 4px 10px;
    text-transform: uppercase;
}

.user__role:before
{
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    margin: -3px 5px 0 0;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.user__role_type_beginner:before
{
    background: red;
}

.user__role_type_middle:before
{
    background: orange;
}

.user__role_type_expert:before
{
    background: green;
}

.user__progress
{
    text-align: center;
    padding: 0 0 10px;
    border-bottom: 1px solid #fff;
}

.user-menu__item
{
    padding: 15px 0 0;
}

.user-menu__item .link
{
    font-size: 14px;
    color: #515864;
    text-transform: uppercase;
    text-decoration: none;
}

.user-menu__item .link:hover
{
    color: #8bc34a;
}

.user-menu__item .link .fa
{
    margin: 0 10px 0 0;
}

.frame-widget
{
    padding: 10px;
    border: 4px solid #8bc34a;
}

.achievement
{
    padding: 8px 0;
    overflow: hidden;
    border-bottom: 1px solid #8bc34a;
}

.achievement:last-child
{
    border: 0;
}

.achievement__title
{
    padding: 20px 0 10px;
}

.achievement__icon
{
    display: block;
    float: left;
    width: 64px;
    height: 64px;
    margin: 5px 10px 5px 0;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.achievement__icon_type_top-rated
{
    background-image: url(../images/achievements/top_rated.png);
}

.achievement__icon_type_great-author
{
    background-image: url(../images/achievements/great_author.png);
}

.achievement__icon_type_bag
{
    background-image: url(../images/achievements/bag.png);
}

.achievement__icon_type_graffity
{
    background-image: url(../images/achievements/graffity.png);
}

.achievement__icon_type_plants
{
    background-image: url(../images/achievements/plants.png);
}

.achievement__icon_type_starred
{
    background-image: url(../images/achievements/starred.png);
}

.content_type_user .section
{
    margin: 0 0 0 300px;
}

.stat-value
{
    font-size: 24px;
    font-family: 'museo_sans_cyrl900';

    padding: 0 8px 0 0;

    line-height: 1em;
}

.stat-param
{
    font-size: 12px;

    line-height: 1em;
}

.user-stat .stat-param
{
    display: inline-block;

    width: 65px;
}

.action-list__item
{
    padding: 15px 0 0;
}

.action-list__link
{
    font-size: 12px;

    text-decoration: none;
    color: #fff;
}

.action-list__link:hover
{
    color: #1bb8d7;
}

.action-list__link .ico
{
    width: 18px;
    margin: 0 9px 2px 0;
}


.widget-area
{
    padding: 0 0 30px;
}

.widget-area__col
{
    width: 48%;
}

.widget-area__col_position_left
{
    float: left;

    margin-right: 2%;
}

.widget-area__col_position_right
{
    float: right;
}

.widget-area__title
{
    font-size: 49px;

    line-height: 1.2em;
    text-align: center;
}

.widget-area__description
{
    font-size: 12px;

    text-align: center;
}

.widget-area__subtitle
{
    font-size: 14px;

    margin: 14px 0;

    line-height: 1.5em;

    border-bottom: 2px solid #000;
}

.widget-area__subtitle_type_term
{
    color: #8bc34a;

    border-color: #8bc34a;
}

.widget
{
    position: relative;

    margin: 0 0 20px;

    -webkit-box-shadow: 1px 2px 2px #C8C8CA;
    -moz-box-shadow: 1px 2px 2px #C8C8CA;
    box-shadow: 1px 2px 2px #C8C8CA;
    background: #fff;
}

.widget .icon
{
    display: none;
}

.widget__body
{
    padding: 15px 7.5% 8px;

    border-bottom: 1px solid #dee0e4;
}

.widget__foot
{
    overflow: hidden;

    padding: 12px 8%;

    border-top: 1px solid #fff;
    color: #737373;
    background: #f5f5f5;
}

.widget_status_finish .widget__foot
{
    color: #fff;
    background: #8bc34a;
}

.widget_status_failed .widget__foot
{
    color: #fff;
    background: #a5a5a5;
}

.widget_status_finish .widget__foot .btn_theme_gray,
.widget_status_failed .widget__foot .btn_theme_gray
{
    float: right;

    height: 28px;
    line-height: 28px;

    margin-top: 3px;
}

.goal__title
{
    font-size: 25px;

    padding: 0 0 18px;
}

.goal__title .link
{
    color: #333;
    text-decoration: none;
}

.goal__subtitle
{
    font-size: 10px;

    padding: 4px 0 2px;

    text-transform: uppercase;
    color: #9c9c9c;
}

.goal_align_center .goal__title,
.goal_align_center .goal__subtitle
{
    text-align: center;
}

.goal_align_center .goal__subtitle
{
    padding: 5px 0 2px;
}

.goal__body
{
    padding: 0 0 2em;
}

.goal .photo
{
    width: 100%;
    height: auto;
    margin: 0 0 1.5em;
}

.goal-status
{
    font-size: 18px;
    font-weight: bold;
    float: left;

    line-height: 1.3em;
}

.goal-date
{
    font: normal 11px 'PT Sans';
    color: #737373;
}

.widget__foot .goal-date
{
    display: block;

    color: #fff;
}

.metrics
{
    float: left;
    margin: 4px 0 0;
}

.metrics__item
{
    font-size: 11px;

    display: inline-block;

    margin: 0 1.2em 0 0;

    color: #737373;
}

.metrics__item--position_right
{
    float: right;

    margin: 0 0 0 25px;
}

.metrics__item .link
{
    color: #8bc34a;
}

.metrics__item .fa
{
    margin: 0 4px 3px 0;
}

.widget__foot .metrics
{
    float: none;
}

.widget__foot .metrics__item
{
    float: left;

    width: 33.2%;
    margin: 0;
}

.widget__foot .metrics__item:nth-child(2)
{
    text-align: center;
}

.widget__foot .metrics__item:nth-child(3)
{
    text-align: right;
}

.deadline
{
    float: left;

    width: 10%;
    margin: 0 8% 0 0;
    padding: 9px 0 0;

    vertical-align: top;
    text-align: center;
}

.deadline__day
{
    font-size: 30px;
    font-weight: bold;
}

.deadline__month
{
    font-size: 18px;
    font-weight: bold;
}

.task
{
    overflow: hidden;
}

.task__wrap
{
    float: left;
    width: 80%;
}

.task__description
{
    font-size: 12px;

    position: relative;

    padding: 5px 12px;
}

.task__description:after
{
    font-size: 8px;

    position: absolute;
    left: 0;
    top: 5px;

    content: '►';
}

.task__title .link
{
    color: #333;
}

/* BEGIN Progressbar Styles */
.progressbar
{
    position: relative;

    height: 14px;
    margin: 10px 0;
    padding: 0 1px;

    border-top: 1px solid #a8abaf;
    border-bottom: 1px solid #fff;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    background: #cbcfd3;
}

.progressbar__wrap
{
    width: 100%;
    height: 11px;

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NhZGI2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzlkYzU0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzZmYjc2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzRhYWI3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYWExOTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #cadb60 0%, #9dc540 25%, #6fb763 50%, #4aab7d 75%, #2aa195 100%);
    background: -webkit-linear-gradient(left, #cadb60 0%,#9dc540 25%,#6fb763 50%,#4aab7d 75%,#2aa195 100%);
    background: -o-linear-gradient(left, #cadb60 0%,#9dc540 25%,#6fb763 50%,#4aab7d 75%,#2aa195 100%);
    background: -ms-linear-gradient(left, #cadb60 0%,#9dc540 25%,#6fb763 50%,#4aab7d 75%,#2aa195 100%);
    background: linear-gradient(to right, #cadb60 0%,#9dc540 25%,#6fb763 50%,#4aab7d 75%,#2aa195 100%);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    border-top: 1px solid #bfc3c7;
    border-bottom: 1px solid #859c90;

    -webkit-box-shadow: inset 0 0 3px #D8EAB9;
    -moz-box-shadow: inset 0 0 3px #D8EAB9;
    box-shadow: inset 0 0 3px #D8EAB9;
}

.progressbar__end
{
    float: right;
    height: 100%;

    background: #cbcfd3;

    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}

.counter
{
    font-weight: bold;
    font-size: 18px;

    position: relative;
    display: inline-block;
    float: right;

    padding: 0 6px;

    white-space: nowrap;
    color: #a5a5a5;
}

.counter:before,
.counter:after
{
    display: block;
    position: absolute;
    top: -2px;

    width: 8px;
    height: 25px;

    content: '';
    background: url(../images/i.png) no-repeat;
}

.counter:before
{
    left: 0;
}

.counter:after
{
    right: 0;
}

.counter__wrap
{
    height: 21px;
    line-height: 21px;
}

.counter_state_normal .counter__wrap
{
    border-top: 2px solid #a5a5a5;
    border-bottom: 2px solid #a5a5a5;
}

.counter_state_normal:before
{
    background-position: -142px 0;
}

.counter_state_normal:after
{
    background-position: -161px 0;
}

.counter_state_plus .counter__wrap
{
    border-top: 2px solid #1bb8d7;
    border-bottom: 2px solid #1bb8d7;
}

.counter_state_plus:before
{
    background-position: -58px 0;
}

.counter_state_plus:after
{
    background-position: -79px 0;
}

.counter_state_plus .counter__result,
.mini-counter_state_plus .mini-counter__result
{
    color: #1bb8d7;
}

.counter_state_minus .counter__wrap
{
    border-top: 2px solid #e63127;
    border-bottom: 2px solid #e63127;
}

.counter_state_minus:before
{
    background-position: -104px 0;
}

.counter_state_minus:after
{
    background-position: -122px 0;
}

.counter_state_minus .counter__result,
.mini-counter_state_minus .mini-counter__result
{
    color: #e63127;
}

.progress-panel
{
    position: relative;
    margin: 50px 20px 30px;
}

.progress-panel__wrap
{
    padding: 8px 0 0;
    text-align: center;
}

.point
{
    font-size: 12px;

    position: relative;
    top: -20px;

    display: inline-block;
    width: 22px;
    height: 29px;
    line-height: 22px;

    color: #5d5c55;

    text-decoration: none;
    background-position: -137px -228px;
}

.point:hover
{
    color: #fff;

    background-position: -104px -227px;
}

.scale
{
    z-index: 999;
    position: absolute;
    top: -26px;
    left: 0;

    width: 100%;
    height: 50px;
}

.scale__wrap
{
    margin: -11px 0 0;
}

.scale__item
{
    float: left;

    height: 23px;
    margin: 22px 0 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-right: 1px solid #a5a5a5;
}

.scale__item:last-of-type
{
    border: 0;
}

.scale__item_size_10
{
    width: 10%;

    text-align: center;
}
/* END User page styles */


/* BEGIN Goal Page Styles */
.article
{
    padding: 0 0 3px;
}

.article__col
{
    padding-top: 20px;
}

.article__col_position_left
{
    float: left;
    width: 66%;
}

.article__col_position_right
{
    float: right;

    width: 34%;
}

.article__wrap
{
    width: 87%;
    padding: 0 3% 0 10%;
}

.article__col_position_right .article__wrap
{
    width: 94%;
    padding: 0;
}

.article .goal
{
    padding: 0 0 0 6.5%;
}

.article .goal__title
{
    font-size: 49px;

    padding: 10px 0 26px;

    background: url(../images/goal-border.png) 95% 16px no-repeat;
}

.article--template
{
    border-top: 3px solid #FDCC5E;
}

.article--template:before
{
    font-size: 10px;

    position: absolute;
    left: 4.3%;

    padding: 3px 10px;
    margin: 0 0 0 -10px;

    content: 'Шаблон';
    text-transform: uppercase;
    letter-spacing: 2px;

    background: #FECB59;
}

.article--template .article__col
{
    padding-top: 30px;
}

.article--template .goal__title
{
    background-image: url(../images/goal-border-orange.png);
}


.article__wrap .metrics
{
    float: none;

    margin: 8px 0;
}

.article__foot
{
    padding: 12px 0;

    border-top: 1px solid #dddfe4;
}

.action
{
    font-size: 14px;

    color: #8bc34a;

    text-decoration: none;
}

.article__foot .action
{
    font-weight: bold;

    display: inline-block;

    margin: 4px 0 0;
}

/* BEGIN Gallery Styles */
.gallery
{
    font-size: 11px;

    padding: 0 0 30px;
    margin: 15px 0 30px;

    color: #737373;
}

.gallery__nav
{
    margin: 10px 0 0 7%;
}

.gallery__nav li
{
    display: inline-block;

    vertical-align: middle;
}

.gallery__state
{
    padding: 0 5px;
}

.gallery__link .link
{
    margin: 0 0 0 15px;

    color: #737373;
}

.gallery-icon
{
    display: block;

    width: 8px;
    height: 12px;

    cursor: pointer;

    background: url(../images/i.png) no-repeat;
}

.gallery-icon_dir_left
{
    background-position: -42px -35px;
}

.gallery-icon_dir_right
{
    background-position: -57px -35px;
}

.plan
{
    position: relative;

    padding: 20px 0;
    margin: 0 0 0 -3%;
}

.plan:before
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 102px;
    height: 3px;

    content: '';

    background: #8bc34a;
}

.plan__list
{
    font-size: 14px;
    font-weight: bold;

    padding: 0 0 0 3%;

    color: #8bc34a;
}

.plan__list > .plan__item
{
    margin: 0 0 20px;
    padding: 0 0 0 20px;
}

.plan__sublist
{
    list-style-position:inside;
}

.plan__sublist > .plan__item
{
    margin: 0 0 8px;
}

.plan__title
{
    font-size: 25px;

    padding: 0 0 10px;

    color: #000;
}

.plan__title_color_blue
{
    color: #8bc34a;
}

.plan__description
{
    font-weight: normal;

    color: #000;
}

.user-widget
{
    font-size: 12px;
}

.user-widget .user-photo
{
    width: 100px;
    height: 100px;
}

.user-widget__subtitle
{
    font-size: 10px;

    margin: 4px 0 10px;

    text-transform: uppercase;
    color: #9C9C9C;
}

.user-widget__wrap
{
    display: inline-block;
    width: 47%;
    vertical-align: top;
    margin: 0 0 0 6%;
}

.user-widget__name
{
    font-size: 21px;
}

.user-widget__prof
{
    font-weight: bold;
}

.user-widget__location
{
    margin: 7px 0 0;
}

.user-widget__age
{
    margin: 0 0 7px;
}

.user-widget__link
{
    font-weight: bold;

    line-height: 1.5em;

    color: #000;
}

.user-widget__link:hover
{
    color: #8bc34a;
}

.notice
{
    position: relative;

    float: right;

    width: 76%;
    margin: 25px 0 0;
    padding: 10px 0;

    text-align: center;

    border-top: 1px solid #d5d7da;
    border-left: 1px solid #e7e8ea;
    border-right: 1px solid #e7e8ea;

    background: #f0f0f2;
}


.notice:after,
.notice:before
{
    right: 100%;
    border: solid transparent;
    content: '';

    height: 0;
    width: 0;

    position: absolute;
    pointer-events: none;
}

.notice:after
{
    border-color: rgba(240, 240, 242, 0);
    border-right-color: #f0f0f2;
    border-width: 11px;

    top: 30px;
    margin-top: -11px;
}

.notice:before
{
    border-color: rgba(226, 227, 229, 0);
    border-right-color: #d5d7da;
    border-width: 12px;

    top: 30px;
    margin-top: -12px;
}

.notice__subtitle
{
    font-size: 10px;

    line-height: 1.5em;
}

.notice__title
{
    font-size: 21px;
    font-weight: normal;

    width: 90%;
    margin: auto;
    padding: 0 0 5px;
    color: #8bc34a;
}

.notice .btn
{
    margin: 15px 0 5px;
}



.goals-list
{
    float: right;

    width: 76%;
    margin: 40px 0 20px;
}

.goals-list__title
{
    font-size: 21px;

    margin: 0 0 10px;
}

.goals-list__item
{
    padding: 10px 0;

    border-top: 1px dotted #c9c9c9;
}

.goals-list__item:last-of-type
{
    border-bottom: 1px dotted #c9c9c9;
}

.goals-list .preview
{
    width: 50px;
    height: 50px;
    margin: 0 5% 0 0;

    vertical-align: middle;
}

.goals-list__body
{
    display: inline-block;

    width: 70%;
    vertical-align: middle;
}

.goals-list__link
{
    font-weight: bold;

    text-decoration: none;
    color: #000;
}

.goals-list__link:hover
{
    color: #8bc34a;
}

.goals-list__text
{
    margin: 5px 0 0;
}

/* END Gallery Styles */